
.header_cards {
    width: 100%;
    box-shadow: none;
    margin:0 auto;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index: 1000;

    div {
        width: 100%;
        padding:25px 12px 5px 12px;

        ion-buttons {
            width: 30%;

            ion-icon {
                background: #fff; //#f4f5f8;
                color: #4c4c4c;
                border-radius: 12px;
                font-size: 16px;
                width: 40px;
                height: 40px;
                border: 1px solid #e6e6e6;
                -webkit-box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
                box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
            }
        }

        ion-text {
            width: 70%;
            position: relative;
            float: right;
            margin-right: 0px;
            
            img {
                width: 40px;
                height: 40px;
                background:#f0f0f0;
                border-radius: 15px;
                margin:0 7px;
                padding: 7px;
                
                -webkit-box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
                box-shadow: 0px 4px 14px -9px rgba(0,0,0,0.75);
            }

        }
        
        .address_pin {
            width: 100%;
            position: relative;
            padding: 10px 15px;
            columns: auto;
            column-width: 50%;
            justify-content: center;
        
                ion-label {
                    position: relative;
                    
                    h2 {
                        font-size: 28px;
                        font-weight: 700;
                    }
                }
            
        }
    }
}

.first_cards {
    width: 100%;
    box-shadow: none;
    margin:0px auto 60px auto;
    z-index: 800;

    ion-card-header {
        margin-top: 10px;

        ion-card-title {
            max-width: 80%;
            font-size: 28px;
            font-weight: 700;
        }
    }

    ion-list {

        ion-item {
            margin: 0 10px;

            ion-icon {
                font-size: 22px;
            }
        }
    }
}

.cart_btn {
    position: fixed;
    bottom: 5px;
    left:0px;right: 0;
    margin: auto;
    height:55px;
    width: 92%;
    --border-radius:8px;
    text-align: center;
    z-index: 1000;
  
    ion-text {
        position: absolute;
        left: 10px;
        background:#2f1b4e;
        color: #fff;
        font-size: 14px;
        padding: 6px 8px;
        border-radius: 8px;
    }
  
    
  }