<ion-content class="ion-padding" >
  
  <!-- 
  <div class="banner animate__animated animate__fadeInUp">
      <div class="logo">
        <p>Boxi App <br />
            llevamos a los miembros de Boxi a los mejores productos, Inspiracion e historias del deporte.</p>
      </div>
  </div>
  -->
  
  <div class="social_btns animate__animated animate__zoomInUp">
    <ion-button class="new" (click)="Signup()">
        <span>{{'new_user' | translate}}</span>
    </ion-button>

    <ion-button class="phone" (click)="LoginSignup()">
        <span>{{'login' | translate}}</span>
    </ion-button>
  </div>
</ion-content>
